

<!-- Za dodavanje HTML -->


<!-- ionIcons 5.00 -->
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<!-- jquery -->
<script src="/stylesheets/assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="/stylesheets/assets/js/popper.js"></script>
<script src="/stylesheets/assets/js/bootstrap.min.js"></script>
<script src="/stylesheets/assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="/stylesheets/assets/js/slick.min.js"></script>
<!--Portfolio Filter-->
<script src="/stylesheets/assets/js/imgloaded.js"></script>
<script src="/stylesheets/assets/js/isotope.js"></script>
<!-- Magnific-popup -->
<script src="/stylesheets/assets/js/jquery.magnific-popup.min.js"></script>
<!--Counter-->
<script src="/stylesheets/assets/js/jquery.counterup.min.js"></script>
<!-- WOW JS -->
<script src="/stylesheets/assets/js/wow.min.js"></script>
<!-- Custom js -->
<script src="/stylesheets/assets/js/main.js"></script>






</div>
    </body>
</html>